<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright (c) 2012-2022 Mihai Nita and others

 This program and the accompanying materials are made available under the
 terms of the Eclipse Public License v 2.0 which is available at
 https://www.eclipse.org/legal/epl-2.0, or the Apache License, Version 2.0
 which is available at https://www.apache.org/licenses/LICENSE-2.0.

 SPDX-License-Identifier: EPL-2.0 OR Apache-2.0
-->
<?eclipse version="3.4"?>
<plugin>

<extension point="org.eclipse.ui.preferencePages">
	<page name="Ansi Console" class="mnita.ansiconsole.preferences.AnsiConsolePreferencePage" id="mnita.ansiconsole.preferences.AnsiConsolePreferencePage" />
</extension>

<extension point="org.eclipse.core.runtime.preferences">
	<initializer class="mnita.ansiconsole.preferences.AnsiConsolePreferenceInitializer" />
</extension>

<extension point="org.eclipse.ui.console.consolePageParticipants">
	<consolePageParticipant class="mnita.ansiconsole.participants.AnsiConsolePageParticipant" id="mnita.ansiconsole.participants.AnsiConsolePageParticipant">
		<enablement>
			<instanceof value="org.eclipse.ui.console.IConsole" />
		</enablement>
	</consolePageParticipant>
</extension>

<extension
		point="org.eclipse.ui.commands">
	<category
			 id="AnsiConsole.command.categoryid"
			 name="Ansi Console Commands">
	</category>
	<command
			categoryId="AnsiConsole.command.categoryid"
			defaultHandler="mnita.ansiconsole.commands.CopyWithEscapesHandler"
			description="Copy the console content to clipboard, including the escape sequences"
			id="AnsiConsole.command.copy_with_escapes"
			name="Copy text with escapes">
	</command>
	<command
			categoryId="AnsiConsole.command.categoryid"
			defaultHandler="mnita.ansiconsole.commands.CopyWithoutEscapesHandler"
			description="Copy the console content to clipboard, removing the escape sequences"
			id="AnsiConsole.command.copy_without_escapes"
			name="Copy text without escapes">
	</command>
	<command
			categoryId="AnsiConsole.command.categoryid"
			defaultHandler="mnita.ansiconsole.commands.EnableDisableHandler"
			description="Enable / disable Ansi Console"
			id="AnsiConsole.command.enable_disable"
			name="Enable / Disable Ansi Console">
		<state
				class="org.eclipse.ui.handlers.RegistryToggleState:true"
				id="org.eclipse.ui.commands.toggleState">
		</state>
	</command>
	<command
			categoryId="AnsiConsole.command.categoryid"
			defaultHandler="mnita.ansiconsole.commands.ShowQuickPrefsHandler"
			description="Show the preferences for Ansi Console and the generic console"
			id="AnsiConsole.command.show_quick_settings"
			name="Show Ansi Console preferences">
	</command>
</extension>

<extension
		point="org.eclipse.ui.menus">
	<menuContribution
			allPopups="false"
			locationURI="toolbar:org.eclipse.ui.console.ConsoleView">
		<command
				commandId="AnsiConsole.command.copy_with_escapes"
				icon="icons/ansiconsolecopy.png"
				style="push">
		</command>
		<command
				commandId="AnsiConsole.command.enable_disable"
				icon="icons/ansiconsole.png"
				style="toggle">
		</command>
		<command
				commandId="AnsiConsole.command.show_quick_settings"
				icon="icons/ansiconsoleprefs.png"
				style="push">
		</command>
	</menuContribution>
</extension>
<extension
      point="org.eclipse.ui.bindings">
   <key
         commandId="AnsiConsole.command.copy_without_escapes"
         contextId="org.eclipse.ui.console.ConsoleView"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="M1+C">
   </key>
   <key
         commandId="AnsiConsole.command.copy_without_escapes"
         contextId="org.eclipse.ui.console.ConsoleView"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="M1+Insert">
   </key>
   <key
         commandId="AnsiConsole.command.copy_with_escapes"
         contextId="org.eclipse.ui.console.ConsoleView"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="M1+M3+C">
   </key>
   <key
         commandId="AnsiConsole.command.copy_with_escapes"
         contextId="org.eclipse.ui.console.ConsoleView"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="M1+M3+Insert">
   </key>
</extension>

<extension
      point="org.eclipse.m2e.launching.mavenLaunchParticipants">
   <mavenLaunchParticipant
         class="mnita.ansiconsole.participants.AnsiConsoleMavenLaunchParticipant"
         id="mnita.ansiconsole.participants.AnsiConsoleMavenLaunchParticipant"
         modes="run,debug"
         name="Force Maven colored output">
   </mavenLaunchParticipant>
</extension>

</plugin>
